<div class="container"> <!-- ここを追加 -->
      <div class="row">

<div class="management"><h1>投稿小説管理ページ</h1></div>

<div class="daimei">題名</div>

<div class="arasuji">あらすじ</div>

<div class="col-xs-2">
</div>
<div class="col-xs-8">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>部分数</th>
            <th>タイトル</th>
            <th>小説</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>第１部分</th>
            <td>１話</td>
            <td>編集</td>
            
        </tr>
        <tr>
            <th>第２部分</th>
            <td>２話</td>
            <td>編集</td>
            
        </tr>
    </tbody>
</table>
</div>
<div class="col-xs-2">
</div>

</div>
</div>