<h1><%= @chapter.subtitle %></h1><br>
<div class="subchapter2"><p class="text"><%= simple_format(h(@chapter.subchapter)) %></p></div>
<hr size="5">
<div class="modoru"><%= link_to '戻る', :back %></div>